.file-manager {
    width: 500px;
    height: 70vh;
    top: 30%;
    left: 50%;
    position: absolute;
    margin: -200px 0 0 -150px;
    border: 1px solid #bebebf;
    background: #fcfcfc;
    overflow: hidden;

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;

    -webkit-animation: fade 1s;
    -moz-animation: fade 1s;
    animation: fade 1s;

    -webkit-transition: box-shadow 1s, opacity 1s; 
    -moz-transition: box-shadow 1s, opacity 1s; 
    transition: box-shadow 1s, opacity 1s;
}
