.context-menu {
    font-size: Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #333;

    position: absolute;
    display: block;
    z-index: 195000;
    overflow-y: auto;
    opacity: 1;
}

.context-menu > div.menu-item {
    padding: 4px 22px 4px 26px;
    white-space: nowrap;
    cursor: default;
    z-index: 1100000;
    height: 13px;
}

.context-menu > div.menu-item:hover {
    background-color: #63acff;
    color: #fff;
}

.context-menu > div.menu-item > span {
    right: 15px;
    margin-top: 0px;
    z-index: 10;
    text-align: right;
    padding-left: 15px;
    float: right;
}

.context-menu > div.menu-divider {
    overflow: visible;
    padding: 0;
    font-size: 1px;
    margin: 6px 9px;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid transparent;
    height: 0;
}
