body {
	margin: 0 auto;
}

a {
  color: #00B7FF;
}

h1 {
  margin: 1em 0;
  border-bottom: 1px dashed;
  padding-bottom: 1em;
  text-align: center;
  font-family: "Gill sans", sans-serif;
  font-weight: lighter;
  color: #777;
}

.container {
	border-radius: 8px;	
	line-height: 1.313rem;
	border: 1px solid #333434;
	background-color: #555555;
	box-shadow: inset 0 1px rgba(0,0,0,0.05);
	padding: 1em;
}

.centered {
	width: 70%;
	height: 70%;
	overflow: auto;
	position: relative;
	margin:  auto;
	top: 0; left: 0; bottom: 0; right: 0;
	max-width: 100%;
	overflow-x: scroll;
}

.window {
	margin-top: 1rem; 
    width: 44%;
	height: 90%;
	display: inline-block;
    padding: 0;
    overflow: hidden;
    border: 1px #000000 solid;
    background: #fff;
    opacity: 0.9;
    -webkit-box-shadow: 7px 7px 0px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 7px 7px 0px 0px rgba(0,0,0,0.2);
    box-shadow: 7px 7px 0px 0px rgba(0,0,0,0.2);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 5px;

    -webkit-animation: fade 3s;
    animation: fade 3s;
    opacity: 1;
}

/* window fade in/out  */
@-webkit-keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
} @keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}

#loginView {
	-webkit-transition: opacity;
	transition: opacity 1s;
}

.menubar {
    background: #ccc;
    color: #000;
    padding: 7px;
    border-bottom: solid 1px #000000;
    line-height: 10px;
    overflow: hidden;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.attributes {
	color: darkslategray;
    border-bottom: solid 1px #aaa;
    line-height: 0.8rem;
    text-align: left;
}

.hostView {
	height: 90%;
	padding: 8px 8px 5px 8px;
    font: 11px "Source Sans", helvetica, arial, sans-serif;
    font-weight: 100;
}

ul.bulletless {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#remoteWindow {
	margin-left: 2%;
}

#hostname {
	margin-top: 10%; 
}
