body {
	margin: 0 auto;
}

a {
  color: #00B7FF;
}

h1 {
  margin: 1em 0;
  border-bottom: 1px dashed;
  padding-bottom: 1em;
  text-align: center;
  font-family: "Gill sans", sans-serif;
  font-weight: lighter;
  color: #777;
}

.container {
	border-radius: 8px;	
	line-height: 1.313rem;
	border: 1px solid #333434;
	background-color: #555555;
	box-shadow: inset 0 1px rgba(0,0,0,0.05);
	padding: 1em;
}

.centered {
	width: 70%;
	height: 70%;
	overflow: auto;
	position: relative;
	margin:  auto;
	top: 0; left: 0; bottom: 0; right: 0;
	max-width: 100%;
	overflow-x: scroll;
}

.window {
	margin-top: 3%;
    width: 44%;
	height: 90%;
	display: inline-block;
    padding: 0;
    overflow: hidden;
    text-align: justify;
    border: 1px #000000 solid;
    background: #fff;
    opacity: 0.9;
    -webkit-box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.05);
    box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.05);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 5px;
	/*
	opacity: 0;
	display: inline-block;
	width: 46%;
	height: 100%;
	padding: 4px;
	border-radius: 4px;
	background-color: white;
	box-sizing: border-box;
	-moz-box-sizing: border-box;	
	-webkit-box-sizing: border-box;	

	-webkit-transition: opacity;
	transition: opacity 1s;
	*/
}

#loginView {
	-webkit-transition: opacity;
	transition: opacity 1s;
}

.toolbar {
    background: #ccc;
    color: #777;
    padding: 5px;
    border-top: solid 1px #000000;
    line-height: 10px;
    overflow: hidden;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.hostView {
	padding: 15px 15px 5px 15px;
}


#hostname {
	margin-top: 10%; 
}
