ul.bulletless {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style-type: none;
}

.file { 
    color: #545454;
    padding: 0.3rem;
    border-radius: 4px;
    margin-right: 10px;
    padding-right: 0rem;
    padding-left: 1.8rem;
    transition: all .15s ease-in-out; 
}

.file:hover { 
    transform: scale(1.02); 
}

