.file { 
    color: #545454;
    padding: 0.3rem;
    margin-left: -5px;
    padding-right: 0rem;
    padding-left: 2.3rem;
    transition: all .15s ease-in-out; 
}

.file:hover { 
    transform: translateX(5px);
}

