.menubar {
    color: gray;
    display: block;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    overflow: hidden;
    background: #eee;

    padding: 5px;
    font-size: 12px;
    font-weight: 100;
    text-align: center;

    border-bottom: 1px solid #bebebf;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.menubar:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.menubar-back-button {
    width: 1.2rem;
    float: left;
    cursor: pointer;
    position: absolute;
    padding-top: 0.15rem;
    padding-left: .4rem;
}
