.file { 
    color: #545454;
    cursor: pointer;
    margin-left: -5px;
    padding-left: 0.2rem;
    -webkit-transition: transform .12s ease-in-out, border-color .2s linear;
    -moz-transition: transform .12s ease-in-out, border-color .2s linear;
    -o-transition: transform .12s ease-in-out, border-color .2s linear;
    transition: transform .12s ease-in-out, border-color .2s linear;
    border: 1px solid transparent;
}

.file:hover { 
    transform: translateX(5px);
}

.file-image {
    width: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.4rem;
}

