.file { 
    color: #545454;
    cursor: default;
    margin-left: -5px;
    padding: .1rem 0 .1rem 0.2rem;
    transition: all .12s ease-in-out;
}

.file:hover { 
    transform: translateX(5px);
}

.file-image {
    width: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.4rem;
}
